HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn/
.idea
.DS_Store
/catalina.base_IS_UNDEFINED/
mvnw
*.log
/bin/
.classpath
.project
.settings
.target
*.Ds_store
*.iml
nirvana.iml
.idea/
.logs*
.catalina*
.catalina.base_IS_UNDEFINED*
/target/
/target
.DS_store
*.DS_store
logs/target/
/setting/
.settings/
log.txt
/.setting/
